@model IEnumerable<Hotel_DAL.Models.Room>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["Title"] = "Available Rooms";
}

<h1>View Available Rooms</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="BookRoom" asp-route-id="@item.Id">Book</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="AddNewRoom">Add New Room</a>
